// // ==== GENERAL ==== //
// 
// Media Queries:
// 1400px
// 1139px
// 1023px
// 900px
// 480px
// 400px

// Media Queries
$mobile-nav-down: 900px;
$desktop-nav-up: 901px;

// Color Palette
$purple: #8FC4FF;
$yellow: #e1d02e;

$brown: #8D5230;

$green: #a3c435;
$dark-green: #81971f;

$forest-green: #7aa394;
$forest-green: #2b473d;

$gray-rule: #E6DDC8;
$light-gray: #e4e4e4;
$lightest-gray: #f1f1f1;
// $lightest-purple: #8a7189;
$forms-gray: #d3d3d3;
$off-white: #e7f5b6;
$dark-gray: #799088;

$site-description: #B0B7B5;

$body-font: 'Merriweather Sans', serif;
$headline-font: 'Playfair Display', sans-serif;
$italic-font: 'Volkhov', cursive;

//#946a4b

//Fonts
body {
	background-color: $off-white;
}


// Helper Classes
.desktop-hidden {
	@media screen and (min-width: $desktop-nav-up){
		display: none !important;
		visibility: hidden;
	}
}
.mobile-hidden {
	@media screen and (max-width: $mobile-nav-down){
		display: none;
		visibility: hidden;
	}
}
.full-width-stretch {
	text-align: center;
    width: 300%;
    margin-left: -1000px;
    margin-right: 1000px;
}
