// ==== Single Plants Page ==== //


.single-plant {
	h1.entry-title {
		font-size: 45px;
		margin-bottom: 5px;
	}
	.latin {
		color: $light-gray;
	}
	aside {
		width: 30%;
		background-color: #fff;
		h3,
		ul,
		p	{
			padding: 0 20px;
			
			}
	}
	main {
		width: 65%;	
	}
}