// ==== Single Plants Page ==== //


.single-plant {
	h1.entry-title {
		font-size: 45px;
		margin-bottom: 5px;
	}
	.latin {
		color: $light-gray;
	}
	aside {
		width: 30%;
		background-color: #fff;
		h3,
		ul,
		p	{
			padding: 0 20px;
			
			}
	}
	main {
		width: 65%;	
	}
}
.single-plant{
	h4 {
		margin-bottom: 5px;
	}
	aside {
		padding-bottom: 15px;
	}
	.sidebar .wp-post-image {
		width: 100%;
		max-width: 100%;
		margin: 0 0 10px 0;
		height: auto;
		margin-bottom: 17px;
	}
	.sidebar h3 {
		font-size: 28px;
	}
	.notes {
		// max-width: 600px;
	    // padding: 8px 10px;
	    // margin-top: 6px;
	    // margin-bottom: 10;
	    // background-color: #dddecc;
	    // margin-top: -1px;
        background-color: #dddecc;
    	border-top: 1px solid #eef1e0;
	    a {
	    	display: block;
	    	padding: 10px 0 10px 20px
	    }
		h4{
			font-family: Muli,sans-serif;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: bold;
		    margin: 0;

		    position: relative;
		    &:before {
		    	content: "\f0da";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			/*--adjust as necessary--*/
			    // color: #000;
			    font-size: 18px;
			    padding-right: 0.5em;
			    position: absolute;
			    // top: 10px;
			    right: 7px;
			}
		}
		h4.open:before {
			content: "\f0d7";
		}
		p {
			margin: 0;
			padding: 5px 0 10px 20px;
			// font-family: Volkhov,cursive;
		    font-weight: normal;
		    font-size: 14px;
		}
		p .date {
			font-family: Muli,sans-serif;
			font-weight: bold;
			color: $light-gray;
		}

	}
	h1.entry-title {
		margin-bottom: 10px;
	}
	.latin {
		font-family: $italic-font;
		font-size: 18px;
	}
	.atg-commentary {
		margin-top: 20px;
	}
	.shade-assessment {
		padding: 10px 20px 20px;
		background-color: #c3d17e;
		margin: 20px 0 30px;
		h5 {
			    font-family: Muli,sans-serif;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: 700;
		    margin-bottom: 10px;
		    // padding-left: 15px;
		    position: relative;
		}
		p {
			margin: 0px 0 0;
		}
		p.grade {
			font-size: 30px;
		    text-align: center;
		}
		.summary p {
			margin: 0;
			border-left: 1px solid white;
			padding-left: 20px;
		}
	}
	.entry-footer {
		border-bottom: none;
		clear: both;
	}
	.taxonomy {
		padding-bottom: 10px;
	}
	.taxonomy-title {
		text-transform: uppercase;
		// font-weight: bold;
		font-size: 14px;
		border-bottom: none;
		padding-bottom: 0;
	}
	.taxonomy a {
		color: $yellow;
	}
	.cc-image img {
		margin-bottom: 3px;
	}
	.cc-caption {
		color: #a7a6a6;
		float: left;
		font-size: 10px;
		font-weight: 300;

		a img {
			width: 14px;
			height: 14px;
			display: none;
		}
	}
}