// ==== BLOG ==== //
/* Titles */



.blog, 
.archive.category{ 
	.entry-meta {
		color: $site-description;
		font-size: 14px;
		font-weight: 300;
		font-family: $body-font, sans-serif;
		letter-spacing: .01em;
		text-transform: uppercase;
	}
	.entry-header .entry-meta {
		margin-bottom: 4px;
		font-size: 12px;
		margin-top: 12px;
	}
	.entry-header h2.entry-title {
		margin-bottom: 20px;
			margin-bottom: 5px;

		a:hover {
			color: lighten($dark-gray, 20%);
		}
	}


	.entry-meta a {
		color: $site-description;
	}
	article {
			position: relative;
			background-color: white;
	    	height: 243px;
	    	overflow: hidden;
	    	padding-right: 25px;

		.entry-meta:first-child {
			display: inline-block;
		    position: absolute;
		    left: 0;
		    padding: 2px 10px;
		    background-color: $yellow;
		    z-index: 51;
		    a{
		    	color: white;
		    		    font-weight: bold;
		    letter-spacing: .06em;

		    }
		}
		.entry-image-link {
			float: left;
	    	margin-right: 25px;
	    	height: 100%;
	    	img {
	    		height: 100%;
	    		position: relative;
	    		z-index: 50;
	    		// height: auto;
	    	}
		}
		.entry-content p {
			font-size: 15px;
		}
		.entry-content:before {
			    content: "";
			    width: 57%;
			    display: block;
			    height: 60px;
			    position: absolute;
			    bottom: 0;
			    right: 0;
				z-index: 1;
			    background: linear-gradient(180deg,hsla(0,0%,100%,0) 0,#fff 68%,#fff);
		}
		.entry-time {
		    // margin-top: 5px;
		    padding-top: 0;
		    clear: left;
		    width: auto;
		    font-weight: bold;
		    letter-spacing: .06em;
		    // border-top: 4px solid $yellow;
		    padding-top: 5px;
		}
	}
}

/* Single
-----------------------------------------------*/
.single {
	.entry-title {
		font-size: 48px;
		line-height: 50px;
		margin-bottom: 10px;
	}
	h1 {
		// font-size: 30px;
	}
	.tag-title {
		margin-bottom: 0;
	}
	.entry-meta {
		color: #dbaf34;
	    font-size: 14px;
	    font-weight: 400;
	    font-family: Muli,sans-serif;
	    letter-spacing: .06em;
	    text-transform: uppercase;
	}

	.entry-meta a {
		color: $site-description;
	}
	.entry-header {
		margin-bottom: 20px;
	}
	.entry-header .entry-meta {
		margin-bottom: 17px;
		font-size: 12px;
		margin-top: 7px;
	}


	// .entry-header .entry-meta::before {
	// 	background-color: $yellow;
	// 	content: "";
	// 	display: block;
	// 	height: 6px;
	// 	margin-bottom: 7px;
	// 	width: 61px;
	// }

	.entry-footer {
		clear: both;
		border-top: 1px solid $gray-rule;
		border-bottom: 1px solid $gray-rule;
		.entry-meta{
			text-transform: none;
			margin: 0;
			padding: 20px 0;
		}
		.entry-meta a {
			color: $brown;
		}
		.entry-meta a:hover {
			text-decoration: underline;
		}
	}

	.entry-comments-link::before {
		font-family: 'FontAwesome';
		content: "\f075";
		padding-top: 8px;
		margin: 0 6px 0 2px;
		display: inline-block;
	}

	.entry-categories,
	.entry-tags {
		display: block;
		padding: 2px 0;
		
	}
}
/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-size: 14px;
	margin: 40px 0;
	font-family: $body-font;
	text-align: center;
}
.archive-pagination a,
.entry-pagination a {
	color: white;
	background-color: $yellow;
	// border: 1px solid $gray-rule;
	padding: 11px 20px 10px 20px;
	&:hover {
		background-color: darken($yellow,8%);
		// border-color: $yellow;
		color: white;
	}
}
.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: white;
	color: $dark-gray;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: $yellow;
}

.entry-pagination a {
	border-bottom: 1px solid $gray-rule;
}
.pagination-previous a:before {
	font-family: 'FontAwesome';
	content: '\f104';
	font-size: 12px;
	position: relative;
	top: 0px;
	left: -5px;
}
.pagination-next a:after {
	font-family: 'FontAwesome';
	content: '\f105';
	font-size: 12px;
	position: relative;
	top: 0px;
	right: -5px;
}
/* Post Formats
--------------------------------------------- */

.format-quote .entry-content {
	color: $yellow;
	display: inline-block;
	font-size: 36px;
	font-weight: 300;
	line-height: 1.25;
	margin: 0;
	padding: 30px;
	position: relative;
}

.format-quote h2{
	padding-left: 30px;
}

.format-quote .entry-content p:last-child {
	margin-bottom: 0;
}

/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	// background-color: #fff;
	margin-bottom: 40px;
}

.entry-comments {
}

.comment-respond,
.entry-pings {
	padding-bottom: 16px;
}

.comment-respond a,
.entry-comments a {
	border-bottom: 1px solid #ddd;
}

.comment-content {
	clear: both;
}

.comment-reply a {
	border-bottom: none;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.comment-respond {
	margin-top: 40px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.comment-respond textarea {
	background-color: white;
}

.comment-list {
	margin-top: -16px;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	padding: 32px;
}

.comment-list li li {
	margin-bottom: -32px;
	margin-left: 32px;
	margin-right: -32px;
}

.comment-list li.depth-1 {
	border-bottom: 1px solid white;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
	background-color: white;
	margin-top: 32px;
}

.comment-list li li.bypostauthor {
	margin-bottom: 0;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	font-size: 14px;
	padding: 24px;
}
/*
Widgets
---------------------------------------------------------------------------------------------------- */

/* Calendar
--------------------------------------------- */

.widget_calendar caption {
	font-weight: 700;
}

.widget_calendar {
	font-weight: 600;
}

.widget_calendar thead {
	display: none;
}

.widget_calendar td#prev {
	text-align: left;
}

.widget_calendar td#next {
	text-align: right;
}


/* Tag Cloud
--------------------------------------------- */

.widget_tag_cloud a {
	background-color: $yellow;

	color: #fff;
	display: inline-block;
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 6px;
	padding: 5px 12px 5px 12px;
	text-transform: uppercase;
}

.widget_tag_cloud a:hover {
	background-color: darken($yellow, 10%);
}

