// // ==== GENERAL ==== //
// 
// Media Queries:
// 1400px
// 1139px
// 1023px
// 900px
// 480px
// 400px

// Media Queries
$mobile-nav-down: 900px;
$desktop-nav-up: 901px;

// Color Palette
// $purple: #8FC4FF;
$yellow: #dbaf34;
$text-yellow: #c1920f;
// $yellow: black;
// $dark-gray: #625e61;
$dark-gray: #3b3c39;

$brown: #8D5230;
$brown: $dark-gray;

$green: #BBCA4E;
$dark-green: #63643b;

$forest-green: #7aa394;
$forest-green: #2b473d;

$gray-rule: #cbccb0;
$light-gray: #9b9a90;
$lightest-gray: #f1f1f1;
// $lightest-purple: #8a7189;
$forms-gray: #c6c8a6;
// $off-white: #eef3db;
// $off-white: #f4f5e7;
$off-white: #eef1e0;

$site-description: #dbaf34;

$body-font: 'Muli', sans-serif;
$headline-font: 'Oswald', sans-serif;
$italic-font: 'Volkhov', cursive;
$headline-sans-serif: 'Oswald', sans-serif;
$font-awesome: 'FontAwesome', sans-serif;

//#946a4b

//Fonts
body {
	background-color: $off-white;
}

// Helper Classes
.desktop-hidden {
	@media screen and (min-width: $desktop-nav-up){
		display: none !important;
		visibility: hidden;
	}
}
.mobile-hidden {
	@media screen and (max-width: $mobile-nav-down){
		display: none;
		visibility: hidden;
	}
}

.full-width-stretch {
	// text-align: center;
 //    width: 300%;
 //    margin-left: -1000px;
 //    margin-right: 1000px;
}
.back-to-top.off {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease;

}

.back-to-top{
	opacity: 1;
	visibility: visible;

	position: fixed;
	z-index: 100;
	bottom: 30px;
	right: 30px;

	width: 40px;
	height: 40px;
	background-color: $yellow;
	display: flex;
    align-items: center;
    justify-content: center;
	transition: opacity 0.5s ease;

    &:hover {
    	background-color: darken($yellow, 10%);
    	transition: background-color 0.5s ease;
    }
	i {
		color: white;
	}
}