// ==== Plugin edtis ==== //

/* Jetpack
--------------------------------------------- */

//Sharing
.content { 
	div.sharedaddy h3.sd-title  {
		font-size: 14px;
		font-weight:700;
		font-family: $body-font;
		text-transform: uppercase;
	}
	.sd-content ul li{
		margin:0 8px 5px 0;
		// padding-right: 10px;
	}
	.sd-content ul li{
		padding-left: 0 !important;

	}
	.sd-social-icon .sd-content ul li a.sd-button, 
	.sd-social-text .sd-content ul li a.sd-button, 
	.sd-content ul li a.sd-button, 
	.sd-content ul li .option a.share-ustom, 
	.sd-content ul li.preview-item div.option.option-smart-off a, 
	.sd-content ul li.advanced a.share-more, 
	.sd-social-icon-text .sd-content ul li a.sd-button, 
	.sd-social-official .sd-content>ul>li>a.sd-button, 
	#sharing_email .sharing_send, 
	.sd-social-official .sd-content>ul>li .digg_button >a,
	.sd-social-icon .sd-content ul li a.sd-button,
	.sd-social-icon .sd-content ul li a.sd-button:hover, 
	.sd-social-icon .sd-content ul li a.sd-button:active, 
	.sd-social-text .sd-content ul li a.sd-button:hover, 
	.sd-social-text .sd-content ul li a.sd-button:active, 
	.sd-social-icon-text .sd-content ul li a.sd-button:hover, 
	.sd-social-icon-text .sd-content ul li a.sd-button:active, 
	.sd-social-official .sd-content>ul>li>a.sd-button:hover, 
	.sd-social-official .sd-content>ul>li>a.sd-button:active, 
	.sd-social-official .sd-content>ul>li .digg_button>a:hover, 
	.sd-social-official .sd-content>ul>li .digg_button>a:active {
		background-color: white;
		border-radius: 0;
		border: 0;
		box-shadow: unset;
	}
	div.sharedaddy h3.sd-title:before {
		display: none;
		// border-top: 1px solid $gray-rule;
	}
}

//remove 'loading comments' blip in gallery
#jp-carousel-comments-loading {
	display:none !important;
}
//remove caption from gallery thumbnails 
.gallery .gallery-caption {
	display: none;
}

//Ajax Search Lite
div[id*="ajaxsearchliteres"] .results .item .asl_content h3, div[id*="ajaxsearchliteres"] .results .item .asl_content h3 a {
	color: $yellow !important;
}

div[id*="ajaxsearchliteres"].vertical {
	padding: 0 !important;
}

div[id*='ajaxsearchlite'] .mCSBap_scrollTools {
	background-color: $lightest-gray;
}
div[id*='ajaxsearchlite'] .probox .proclose svg {
	background-color: $dark-gray !important;
}
//Mailchimp
.category, .single {
	aside .mc4wp-form-fields{
		p:first-child {
			margin-bottom:8px;
			label {
				display: block;
				margin-bottom: 5px;
			}
		}
		input[type=email] {
			display: block;
			width: 100%;
			max-width: 100%;
		}
	}

}
.sidebar .mc4wp-form-fields{
	input[type=email] {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
.page-id-717 #mc4wp-form-1{
	 label {
		display: block;

	}
	input[type='email'] {
		width: 300px;
	}
}
//Instagram Feed 
#sb_instagram {
	#sbi_load .sbi_follow_btn a {
		border-radius: inherit !important;
	}

	#sbi_load {
		background-color: #fff;
		padding: 10px 0;
	}
}


	