// ==== Single Plants Page ==== //


.single-plant {
	.content-sidebar-wrap:after{
		content: '';
		clear:both;
	}
	h1.entry-title {
		font-size: 50px;
		margin-bottom: 5px;
	}
	.latin {
		color: $light-gray;
	}
	aside {
		width: 35%;
		background-color: #fff;
		
		
		@media screen and (max-width: 600px){
			width: 100%;
		}
	}
	main {		
		width: 60%;	
		@media screen and (max-width: 600px){
			width: 100%;
		}
	}
}
.single-plant{
	/* Post thumbnail */
	.wp-post-image {
		float: left;
		max-width: 30%;
		// border: 4px solid white;
		margin: 5px 25px 10px 0;
	}
	h4, h3 {
		margin-bottom: 5px;
		font-family: $body-font;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: .05em;
	}
	h4.latin {
		text-transform: inherit;
		font-style: oblique;
		letter-spacing: 0;
		font-weight: normal;
	}

	.sidebar .wp-post-image {
		width: 100%;
		max-width: 100%;
		margin: 0;
		height: auto;
		// margin-bottom: 17px;
	}
	.sidebar .shade-assessment {
		// border: 4px solid #fff;
		border-top: none;
		float: left;
		padding-left: 30px;
		padding-bottom: 30px;
		width: 100%;
	}
	.sidebar h3 {
		margin: 0;
	    text-transform: uppercase;
	    margin-bottom: 20px;
	    padding: 12px;
	    text-align: center;
	    border-bottom: 3px solid white;
	    font-size: 19px;
	}
	.notes {
	
        background-color: #dddecc;
	 
    	margin-bottom: 20px;
	    a {
	    	display: block;
	    	padding: 10px 0 10px 20px
	    }
		h3{
		    margin: 0;

		    position: relative;
		    &:before {
		    	content: "\f0da";
			    font-family: FontAwesome;
			    font-style: normal;
			    font-weight: normal;
			    text-decoration: inherit;
			/*--adjust as necessary--*/
			    // color: #000;
			    font-size: 18px;
			    padding-right: 0.5em;
			    position: absolute;
			    // top: 10px;
			    right: 7px;
			}
		}
		h3.open:before {
			content: "\f0d7";
		}
		p {
			margin: 0;
			padding: 0px 10px 10px 20px;
			// font-family: Volkhov,cursive;
		    font-weight: normal;
		    font-size: 14px;
		}
		p .date {
			font-family: Muli,sans-serif;
			font-weight: bold;
			color: $light-gray;
		}
		.inside {
			display: none;
		}

	}
	h1.entry-title {
		margin-bottom: 10px;
	}
	.latin {
		font-family: $body-font;
		font-size: 18px;
	}
	.alt-names {
			margin-bottom: 10px;
		}
	.atg-commentary {
		margin-top: 20px;
	}
	.dead-note {
		color: white;
		display: block;
		margin-top: 20px;
		padding: 1em;
		background-color:$dark-gray;
		h3 {
			color: white;
		}
		p {
			margin-bottom: 0;
		}
	}
	
	.shade-assessment {
		padding: 20px 20px 20px;
		background-color: #c3d17e;
		padding-top: 5px;
		// margin: 20px 0 20px;
		div {
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    min-height: 50px;
		}

		h5 {
			    font-family: Muli,sans-serif;
		    text-transform: uppercase;
		    font-size: 13px;
		    font-weight: 700;
		    margin-bottom: 10px;
		    // padding-left: 15px;
		    position: relative;
		}
		p {
			margin: 0px 0 0;
		}
		p.grade {
			font-size: 50px;
		    // text-align: center;
		    font-weight: bold;
		    color: white;
		    line-height: 1.0em;
		    text-align: center;
		}
		.summary p {
			margin: 0;
			border-left: 1px solid white;
			padding-left: 20px;
			font-size: 15px;
			line-height: 20px;
			@media screen and (max-width: 800px){
				border: none;
				padding-left: 0;
			}
		}
	}
	.entry-footer {
		border-bottom: none;
		clear: both;
	}
	.stats {
		float: left;
		font-size: 15px;
		border-top: 3px solid $gray-rule;
		margin-bottom: 20px;
		padding-top: 20px;
		width: 100%;

		li {
			list-style-type: none;
		}
		.taxonomy {
			padding: 0 20px 10px 0px;
			line-height: 20px;
			p {
				padding: 0;
			}
		}
		.taxonomy-title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			border-bottom: none;
			padding-bottom: 5px;
			margin: 0;
			letter-spacing: .06em;

		}
		.taxonomy a {
			color: $yellow;
		}
	}
	.entry-content {
		float: left;
		width: 100%;
	}
	.entry-content .content-inner {
		background-color: #dddecc;
		padding: 20px;
		width: 100%;
		float: left;
		h3 {
			margin-bottom: 20px;
		}
	}
	.cc-image {
		display: inline-block;
		img {
			margin-bottom: 3px;
			
		}
	}
	.wp-caption.alignleft {
		margin: 0;
		margin-right: 10px;
	}
	.wp-caption-text {
		background-color: transparent;
		padding: 0;
		line-height: inherit;
	}
	.cc-caption {
		color: #a7a6a6;
		float: left;
		font-size: 10px;
		font-weight: 300;
		line-height: 7px;
		a:nth-of-type(2n) {
			float:left;
		    line-height: 7px;
		    margin-top: -3px;
		    padding-right: 1px;
		}
		a img {
			width: 14px;
			height: 14px;
			// display: none;
			// float: left;
		}
	}
	.single-plant-navigation {
		clear: both;
		margin: 0 auto;
	}
	.single-plant-navigation ul {
		list-style-type: none;
		display:flex;
	}
	.single-plant-navigation li {
		margin-bottom: 10px;
		margin-top: -9px;
		&.prev {
			padding-right: 10px;
		}
		&.next {
			padding-left: 10px;
		}
	}
	.single-plant-navigation li a {
		display: inline-block;
		font-size: 16px;
		text-decoration: underline;
		// border-bottom: 1px solid black;
		color: $dark-gray;
		font-weight: normal;
		// &:after {
		// 	content: '';
		// 	width: 8px;
		// 	height: 8px;
		// }
	}
	// .single-plant-navigation [rel="prev"]:before {
	// 	content: '<';
	// 	padding-right:5px;
	// }
	// .single-plant-navigation [rel="next"]:after {
	// 	content: '>';
	// 	padding-left:5px;
	// }
}